# See http://help.github.com/ignore-files/ for more about ignoring files.

# libraries (if installed locally)
/BOSL2

# IDEs and editors
/.idea
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
.claude/
.mcp.json

# System Files
.DS_Store
Thumbs.db

# generated
main.json
boxee.scad
boxee.json
*.stl
